<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/popup') %> <%- include('components/header', { role,
    login }) %>

    <div class="administration">
      <% allUsers.filter(user => user.role !== "admin").forEach((user) => { %>
      <div class="administration__user" id="user-<%= user.id %>">
        <div class="administration__user-login"><%= user.login %></div>
        <div class="administration__user-buttons">
          <button class="viewRecipes" data-id="<%= user.id %>">
            View recipes
          </button>
          <button class="bun" data-id="<%= user.id %>">Bun</button>
        </div>
      </div>
      <% }) %>
    </div>
    <%- include('components/footer') %>
  </body>

  <script>
    $(".viewRecipes").click((e) => {
      window.location.href = "administration/profile/" + e.target.dataset.id;
    });
    $(".bun").click((e) => {
      $.ajax({
        url: "/profile/" + e.target.dataset.id,
        type: "DELETE",
        success: (_, status) => {
          console.log(status);
          console.log(_);

          $("#user-" + e.target.dataset.id).remove();
          showPopup(200, "User deleted", "green");
        },
        error: (err) => {
          showPopup(err.status, err.responseText, "red");
        },
      });
    });
  </script>
</html>
