<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/header', { login }) %>
    <h1>administration</h1>

    <% allUsers.filter(user => user.role !== "admin").forEach((user) => { %>
    <div id="user-<%= user.id %>">
      <div><%= user.id %></div>
      <div><%= user.login %></div>
      <button class="viewRecipes" data-id="<%= user.id %>">View recipes</button>
      <button class="bun" data-id="<%= user.id %>">Bun</button>
    </div>

    <% }) %> <%- include('components/footer') %>
  </body>

  <script>
    $(".viewRecipes").click((e) => {
      window.location.href = "administration/profile/" + e.target.dataset.id;
    });
    $(".bun").click((e) => {
      $.ajax({
        url: "/profile/" + e.target.dataset.id,
        type: "DELETE",
        success: () => {
          $("#user-" + e.target.dataset.id).remove();
        },
      });
    });
  </script>
</html>
