<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>

  <style>
    input[name="id"] {
      visibility: hidden;
      height: 0;
      width: 0;
    }
  </style>
  <body>
    <%- include('components/popup') %> <%- include('components/header', { role,
    login }) %>
    <div class="createRecipe">
      <div class="createRecipe__recipe-view">
        <img
          class="createRecipe__recipe-recipe__img"
          src="<%= recipe?.img || '' %>" />

        <div class="createRecipe__ingredients">
          <form class="createRecipe__ingredients-form">
            <% ingredients.length && ingredients.forEach((ingredient) => { %>
            <div class="createRecipe__ingredients-item">
              <input
                type="text"
                name="ingredient"
                placeholder="Ingredient"
                value="<%= ingredient.name || '' %>" />
              <input
                visibility="hidden"
                name="id"
                placeholder="id"
                value="<%= ingredient.id || '' %>" />
              <input
                type="text"
                name="quantity"
                placeholder="Quantity"
                value="<%= ingredient.quantity || '' %>" />
            </div>
            <% }) %>
          </form>

          <div class="buttons">
            <button class="addIngredient">Добавить ингредиент</button>
            <button class="removeIngredient">Удалить ингредиент</button>
          </div>
        </div>
      </div>

      <div class="createRecipe__recipe-settings">
        <form class="createRecipe__recipe-form">
          <div class="createRecipe__recipe-inputs">
            <input
              type="text"
              name="name"
              placeholder="Title"
              value="<%= recipe?.name || '' %>" />

            <input
              type="text"
              name="img"
              placeholder="URL Image"
              value="<%= recipe?.img || '' %>" />

            <textarea type="text" name="about" placeholder="about">
<%= recipe?.about || '' %></textarea
            >
          </div>
        </form>

        <button class="requestButton">
          <% if(method === "PUT"){ %> Изменить <% } else if(method ===
          "DELETE"){%> Удалить <% }else{ %> Добавить <% }%>
        </button>
      </div>
    </div>
    <%- include('components/footer') %>
    <script>
      $(".addIngredient").on("click", () => {
        $("form.createRecipe__ingredients-form").append(
          `
            <div class="createRecipe__ingredients-item">
                <input type="text" name="ingredient" placeholder="Ingredient" />
                <input type="text" name="quantity" placeholder="Quantity" />
            </div>
        `
        );
      });

      $(".removeIngredient").on("click", () => {
        $("form.createRecipe__ingredients-form").children().last().remove();
      });

      $(".requestButton").on("click", () => {
        console.log($("form.recipe").serialize());
        $.ajax({
          url: "/profile/<%= user_id %>/createRecipe/<%= recipe?.id || '' %>",
          type: "<%= method %>",
          data:
            $(".createRecipe__recipe-form").serialize() +
            "&" +
            $(".createRecipe__ingredients-form").serialize() +
            "&user_id=<%= user_id %>",

          success: () => {
            window.location.href = "/profile/<%= user_id %>";
          },
          error: (err) => {
            showPopup(err.status, err.responseText, "red");
          },
        });
      });

      $("input[name=img]").on("input", (e) => {
        console.log(e.target.value);
        $(".createRecipe__recipe-recipe__img").attr("src", e.target.value);
      });
    </script>
  </body>
</html>
