<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/popup') %> <%- include('components/header', {
    role,login }) %>

    <div class="home">
      <h1 class="home__firstlook">
        Добро пожаловать в Rarhica! Мир вкуса и кулинарных открытий!
      </h1>

      <h2 class="home__aboutreview">
        Приготовьтесь к кулинарному путешествию!
      </h2>

      <div class="home__review">
        <% text = `Откройте для себя вдохновляющие рецепты: От классических блюд
        до экспериментальных новинок – наши рецепты пробуждают аппетит и
        вдохновляют на кулинарные подвиги.` %> <% url =
        "https://www.povarenok.ru/data/cache/2016sep/16/12/1709205_60985-710x550x.jpg"
        %> <%- include('components/home/review__item-right', {text, url}) %> <%
        text = `Погрузитесь в кулинарные миры мира: Изучайте ароматы и вкусы
        разных стран, путешествуя с нами по их кухням и традициям.` %> <% url =
        "https://static.tildacdn.com/tild3235-3830-4835-b632-343866653561/rice-noodles-in-a-bo.jpg"
        %> <%- include('components/home/review__item-left', {text, url}) %> <%
        text = `Научитесь кулинарным хитростям: От искусства нарезки до секретов
        идеального приготовления – узнайте техники, которые превратят ваши блюда
        в произведения искусства.` %> <% url
        ="https://grandkulinar.ru/uploads/posts/2014-03/1395058298_iskusstvo-narezki-fruktov.jpg"
        %> <%- include('components/home/review__item-right', {text, url}) %> <%
        text = `Общение и вдохновение: Обменивайтесь своими идеями,
        рассказывайте о своих кулинарных успехах и участвуйте в живых дискуссиях
        с единомышленниками.` %> <% url =
        "https://elle.ua/imgold/690x459_0xd42ee42d_2169421211447697866.jpeg" %>
        <%- include('components/home/review__item-left', {text, url}) %> <% text
        = `Присоединяйтесь к "Кулинарным приключениям" и окунитесь в мир вкуса,
        творчества и вдохновения!` %> <% url =
        "https://avatars.dzeninfra.ru/get-zen_doc/3985748/pub_604cd8030a7d51654a261081_604ceaad0a7d51654a495f15/scale_1200"
        %> <%- include('components/home/review__item-right', {text, url}) %>
      </div>

      <!-- <%- include('components/topRecipes') %> -->
    </div>

    <div class="home__recipes__wrapper">
      <%- include('components/filter-recipe') %>
      <div class="home__recipes__wrapper-recipes"></div>
    </div>

    <script>
      $(".home__recipes__wrapper").hide();
      $(".header__search").on("input", () => {
        console.log($(".header__search").val());
        if ($(".header__search").val().trim() === "") {
          $(".home__recipes__wrapper").hide();
          $(".home").show();
          console.log($(".header__search").val());
        } else {
          $.ajax({
            url: "home/search",
            type: "POST",
            data: {
              query: "%" + $(".header__search").val() + "%",
            },
            success: (data) => {
              const min = $('input[name="min-rate"]').val();
              const max = $('input[name="max-rate"]').val();
              const htmlrecipe = data.recipes
                .filter((recipe) => (min ? recipe.avg >= min : true))
                .filter((recipe) => (max ? recipe.avg <= max : true))
                .map((recipe) => {
                  return `
                      <span class="home__recipes__wrapper-recipes__recipe">
                          <a href="/recipe/${recipe.id}">
                            <h3>${recipe.name}</h3>
                          </a>
                          <img src="${
                            recipe.img
                          }" alt="https://bpgroup.ee/i_ee/product_images/images/Z2000128438.jpg"/>
                          <div>
                            <span class="rating">${recipe.avg}</span>
                            <span class="rating__star">${Array.from(
                              { length: recipe.avg },
                              () => "&#9733;"
                            ).join("")}</span>
                          </div>
                      </span>
                    `;
                })
                .join("");

              $(".home__recipes__wrapper-recipes").html(htmlrecipe);

              $(".home").hide();
              $(".home__recipes__wrapper").show();
            },
            error: (err) => {
              showPopup(err.status, err.responseText, "red");
              $(".home__recipes__wrapper").hide();
              $(".home").show();
            },
          });
        }
      });
    </script>

    <%- include('components/footer') %>
  </body>
</html>
