<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/popup') %> <%- include('components/header', { role,
    login }) %>

    <div class="profile">
      <button class="createRecipe">Create recipe</button>

      <% let colors = { approved: "green", rejected: "red", wait: "yellow" } %>

      <div class="profile__recipes">
        <% if(recipes.length) { recipes.forEach((recipe,i) => {%>
        <div
          class="profile__recipes-recipe"
          data-id="<%=recipe.id%>"
          style="background-color: <%= colors[recipe.status] %>">
          <img src="<%=recipe.img%>" alt="recipe image" />
          <!-- <div class="recipe__info"> -->
          <div class="recipe__info__name"><%=recipe.name%></div>
          <div class="recipe__info__name"><%=recipe.avg%></div>
          <div class="buttons">
            <button data-method="PUT" data-id="<%=recipe.id%>">update</button>
            <button data-method="DELETE" data-id="<%=recipe.id%>">
              delete
            </button>
          </div>
          <!-- </div> -->
        </div>
        <div class="profile__recipes-comment">
          <%= recipe.comment.date %> <%= recipe.comment.comment %>
        </div>
        <%})}else {%>
        <div style="color: white">
          Похоже у вас нет еще рецептов... Cамое время поделиться!!
        </div>
        <%}%>
      </div>
    </div>
    <!-- <div class="profile">

      <button>+</button>
    </div> -->

    <%- include('components/footer') %>

    <script>
      const id = "<%= id_user %>";
      console.log(`${id}/createRecipe?method=POST`);
      $("button.createRecipe").on("click", () => {
        window.location.href = `${id}/createRecipe?method=POST`;
      });

      $("button[data-method=PUT]").on("click", (e) => {
        const recipe_id = $(e.currentTarget).data("id");
        const method = $(e.currentTarget).data("method");
        window.location.href =
          `${id}/createRecipe` + `?method=${method}` + `&id=${recipe_id}`;
      });

      $("button[data-method=DELETE]").on("click", (e) => {
        $.ajax({
          type: "DELETE",
          url: `${id}/createRecipe/${$(e.currentTarget).data("id")}`,
          data: {
            id: $(e.currentTarget).data("id"),
            method: $(e.currentTarget).data("method"),
          },
          success: (data, status) => {
            $(e.currentTarget).parent().remove();
            showPopup(status, data, "green");
          },
          error: (err) => {
            showPopup(err.status, err.responseText, "red");
          },
        });
      });
    </script>
  </body>
</html>
