<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/popup') %> <%- include('components/header', { role,
    login }) %>

    <div class="recipe">
      <div class="recipe__head">
        <div><%= recipe.name %></div>
        <img src="<%=
        "https://bpgroup.ee/i_ee/product_images/images/Z2000128438.jpg" %>"
        alt="<%= recipe.img %>" />
      </div>

      <div class="recipe-about"><%= recipe.about %></div>
      <!-- login, role, recipe, ingredients -->
      <div class="recipe-infoheader">Вам понадобится:</div>

      <div class="recipe-info">
        <% ingredients.forEach((ingredient) => { %>
        <%-include('components/recipe/ingredient', {ingredient}) %> <% }) %>
      </div>

      <div class="recipe-infoheader">Рецепт:</div>

      <div class="recipe-about"><%= recipe.about %></div>

      <div class="comments">
        <%- include('components/recipe/comment') %> <%-
        include('components/recipe/comment') %> <%-
        include('components/recipe/comment') %> <%-
        include('components/recipe/comment') %>
      </div>
    </div>

    <%- include('components/footer') %>
  </body>
</html>
