<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/popup') %> <%- include('components/header', { role,
    login }) %>

    <div class="recipe">
      <div class="recipe__head">
        <div class="recipe__head__info">
          <div><%= recipe.name %></div>
          <img src="<%= recipe.img %>" alt="recipe img" />
        </div>

        <div class="recipe__head__infoheader">
          <div class="recipe__head__infoheader-header">Вам понадобится:</div>

          <div class="recipe__head__infoheader-info">
            <% ingredients.forEach((ingredient) => { %>
            <%-include('components/recipe/ingredient', {ingredient}) %> <% }) %>
          </div>
        </div>
      </div>

      <div class="recipe__about">
        <h2 class="recipe__about-infoheader">Рецепт:</h2>
        <div class="recipe__about-about">
          <!-- <%- recipe.about.split('\n').map((p) => 
           `<div class="recipe__about-about-p"> ${p} </div>`)
           .join('')%> -->

          <%- recipe.about.replace(/\n/g, '<br />')%>
        </div>
      </div>

      <%- include('components/recipe/star-rating') %>

      <!-- <div class="recipe__comments">
        <div class="recipe__comments-comment">
          <% if(login && role === 'user') {%>
          <div class="recipe__comments-comment-name"><%= login %></div>
          <% } %>

          <input class="recipe__comments-comment-text" type="text" />
          <button class="recipe__comments-comment-button">Отправить</button>
        </div>

        <div class="recipe__comments-comments">
          <%- include('components/recipe/comment') %> <%-
          include('components/recipe/comment') %> <%-
          include('components/recipe/comment') %> <%-
          include('components/recipe/comment') %>
        </div>
      </div> -->
    </div>

    <%- include('components/footer') %>
  </body>

  <script>
    $(".recipe__comments-comment-button").on("click", function () {
      const login = "<%= login %>";
      if (login === "Login") {
        showPopup(
          401,
          "Войдите в аккаунт или зарегистрируйтесь, чтобы оставлять комментарии",
          "red"
        );
      }
      let comment = $(".recipe__comments-comment-text").val();
      console.log(comment);
    });
  </script>
</html>
