<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/popup') %> <%- include('components/header', { role,
    login }) %>

    <div class="viewprofile">
      <% if(recipes.length) { recipes.forEach((recipe,i) => {%>
      <div class="viewprofile__recipe">
        <div class="viewprofile__recipe-info">
          <div><%=recipe.name%></div>
          <img src="<%=recipe.img%>" alt="recipe img">
        </div>
        <div class="viewprofile__recipe-info__buttons">
          <button data-choise="view" data-id="<%=recipe.id%>">Осмотреть</button>
          <button data-choise="approved" data-id="<%=recipe.id%>">
            Одобрить
          </button>
          <button data-choise="rejected" data-id="<%=recipe.id%>">
            Отклонить
          </button>
          <button data-choise="DELETE" data-id="<%=recipe.id%>">Удалить</button>
        </div>

      </div>
      <%})}else {%>
      <div>Пусто</div>
      <%}%>
    </div>
    <!-- <div class="profile">

      <button>+</button>
    </div> -->

    <%- include('components/footer') %>

    <script>
      const user_id = "<%= id_user %>";
      $("button[data-choise='approved'], button[data-choise='rejected']").on(
        "click",
        (e) => {
          e.preventDefault();
          const id = $(e.target).data("id");
          console.log(id);
          const choise = $(e.target).data("choise");
          $.ajax({
            url: "/administration/profile/" + user_id + "/recipes/" + id,
            type: "PUT",
            data: { choise },
            success: (data, status) => showPopup(status, data, "green"),
            error: (err) => {
              showPopup(err.status, err.responseText, "green");
            },
          });
        }
      );

      $("button[data-choise='DELETE']").on("click", (e) => {
        e.preventDefault();
        const id = $(e.target).data("id");
        console.log(id);
        $.ajax({
          url: "/administration/profile/" + user_id + "/recipes/" + id,
          type: "DELETE",
          success: () =>
            (window.location.href = "/administration/profile/" + user_id),
          error: (err) => {
            showPopup(err.status, err.responseText, "red");
          },
        });
      });

      $("button[data-choise='view']").on("click", (e) => {
        window.location.href = `./${user_id}/recipes/${e.target.dataset.id}`;
      });
    </script>
  </body>
</html>
