<!DOCTYPE html>
<html lang="en">
  <%- include('components/head') %>
  <body>
    <%- include('components/popup') %> <%- include('components/header', { role,
    login }) %>

    <div>
      <% if(recipes.length) { recipes.forEach((recipe,i) => {%>
      <div>
        <div><%=recipe.id%></div>
        <div><%=recipe.name%></div>
        <div><%=recipe.img%></div>
        <button data-choise="view" data-id="<%=recipe.id%>">Осмотреть</button>
        <button data-choise="approved" data-id="<%=recipe.id%>">
          Одобрить
        </button>
        <button data-choise="rejected" data-id="<%=recipe.id%>">
          Отклонить
        </button>
        <button data-choise="DELETE" data-id="<%=recipe.id%>">Удалить</button>
      </div>
      <%})}else {%>
      <div>Пусто</div>
      <%}%>
    </div>
    <!-- <div class="profile">

      <button>+</button>
    </div> -->

    <%- include('components/footer') %>

    <script>
      const id = "<%= id_user %>";

      $("button[data-choise='view']").on("click", (e) => {
        window.location.href = `./${id}/recipes/${e.target.dataset.id}`;
      });
    </script>
  </body>
</html>
